<div class="traversal-bar"
     fxLayout="row"
     fxLayoutAlign="space-around stretch"
     *ngIf="showTravBar | async"
>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" *ngIf="showTravBar | async" class="inner">
    <div *ngIf="focusedGroup$ | async as group"
         fxLayout="row"
         fxLayoutAlign="start center"
         fxLayoutGap="5px"
         [routerLink]="['/group', group.id]"
         [@travEl]>
      <img [src]="group.icon" class="flag">
      <div class="entry-text">{{group.name}}</div>
    </div>

    <md-icon *ngIf="focusedItem$ | async" [@travEl] style="font-weight: 200"> chevron_right</md-icon>

    <div *ngIf="focusedItem$ | async as meeting"
         fxLayout="row"
         fxLayoutAlign="start center"
         fxLayoutGap="5px"
         [routerLink]="['/group', (focusedGroup$ | async)?.id, 'meeting', meeting.id]">

      <div class="entry-text" *ngIf="meeting">{{meeting.startTime | amDateFormat:
        'M/DD/YY'}}
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
