@import "../../../assets/style/all";

:host {
  display: block;
  max-width: 900px;
  margin: 20px auto;
}

.meeting-status {
  .current {
    text-transform: uppercase;
    font-weight: 600;
  }
}

.section {
  margin-bottom: 25px;

  .heading {
    text-transform: uppercase;
    font-size: 1.25em;
    margin-bottom: 10px;
  }
  .body {
    margin: 5px 10px;
    @include mq-gt-sm {
      margin: 5px 20px;
    }
    .key {
      text-transform: uppercase;
    }

    .row {
      margin-bottom: 10px;
    }

  }
}

.feedback {

  .status-note {
    margin-bottom:10px;
    text-align: center;
    &.open {
      color: mat-color($mat-green, 600);
    }

    &.closed {
      color: mat-color($mat-red, 600);
    }
  }

  .expl {
    font-size: 0.85em;
  }

}


.agenda {
  .item {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid mat-color($mat-grey, 400);

    .feedback-status {

      .current {
        text-transform: uppercase;
        .value {
          font-weight: 600;

          &.green {
            color: mat-color($mat-green, 600);
          }

          &.red {
            color: mat-color($mat-red, 600);
          }
        }

      }

    }

  }
}
