@import "../../../assets/style/all";
@import "../../shared/admin-pages";
.meeting-status {
  .current {
    text-transform: uppercase;
    font-weight: 600;
  }
}

.section{
  padding: 15px 15px 40px;

}

.feedback {

  .status-note {
    margin-bottom:10px;
    text-align: center;
    &.open {
      color: mat-color($mat-green, 600);
    }

    &.closed {
      color: mat-color($mat-red, 600);
    }
  }

  .expl {
    font-size: 0.85em;
  }

}


.agenda {
  .item {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid mat-color($mat-grey, 400);

    .feedback-status {

      .current {
        text-transform: uppercase;
        .value {
          font-weight: 600;

          &.green {
            color: mat-color($mat-green, 600);
          }

          &.red {
            color: mat-color($mat-red, 600);
          }
        }

      }

    }

  }
}
