@import "../../../assets/style/all";

.tab-container {
  max-width: 800px;
  margin: auto;
}


.agenda {
  padding: 10px;
}

nav.md-tab-nav-bar{
  margin:0 30px;
}

.section-title {
  font-size: 1.25em;
  font-weight: 500;
  text-transform: uppercase;

  &.recent {
    margin-top: 40px;
  }

}

.title{
  transform:uppercase;
}


.sort-by{
  margin-left:20px;
}

.item-row {
  margin: 20px;
  padding: 15px;

  .item-text {
    transition: 100ms 50ms linear color;
    cursor: pointer;
    &:hover {
      color: mat-color($mat-blue, 600);
    }
  }

}

.item-no {
  font-weight: 500;
}

.action-items {
  button[md-button] {
    text-transform: uppercase;
    font-weight: 500;
  }
}
