@import "../../../assets/style/all";

.tab-container {
  max-width: 800px;
  margin: auto;
}


.agenda {
  padding: 10px;
}

.section-title {
  font-size: 1.25em;
  font-weight: 500;
  text-transform: uppercase;

  &.recent {
    margin-top: 40px;
  }

}

.item-row {
  margin: 20px;
  border: 1px solid mat-color($mat-grey, 800);
  padding: 10px;

  .item-text {
    transition: 100ms 50ms linear color;
    cursor: pointer;
    &:hover {
      color: mat-color($mat-blue, 600);
    }
  }

}

.item-no {
  font-weight: 500;
}

.action-items {
  button[md-button] {
    text-transform: uppercase;
    font-weight: 500;
  }
}
