<div class="agenda">
  <div class="sort-by" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <label for="sortSelect">Sort by:</label>
    <md-select [(ngModel)]="sortBy" id="sortSelect">
      <md-option *ngFor="let opt of agendaSortOptions" [value]="opt">{{opt}}</md-option>
    </md-select>
  </div>

  <div *ngFor="let item of agendaItems" class="item-row" fxLayout="row">
    <div class="item-no" fxFlex="0 0 30px" fxFlex.xs="0 0 30px">
      {{item.onAgendas[meeting.id].itemNumber}}
    </div>
    <div fxFlex="1 1 auto">
      <div class="item-text" (click)="showItem.emit(item.id)">{{item.text}}</div>
      <div class="action-items" fxLayout="row" fxLayoutGap="10px">
        <button md-button>{{totalComments(item)}} comments</button>
        <button md-button>{{totalVotes(item)}} votes</button>
      </div>
    </div>
  </div>
</div>
