@import "../../../assets/style/all";

:host {
  display: block;
}

.outer-wrapper {
  padding: 10px;
  border-radius: 5px;

  &.con {
    background-color: mat-color($mat-red, A100);
  }

  &.pro {
    background-color: mat-color($mat-green, A100);
  }

}

.author-row {
  .avatar {
    height: 20px;
    border-radius: 50%;
  }
}

.text-box {
  padding: 5px;
  border-radius: 5px;


}

md-icon, button[md-button]:not([disabled]) {
  &.red {
    color: mat-color($mat-red, 700);
  }
  &.green {
    color: mat-color($mat-green, 700);
  }
  &.yellow {
    color: mat-color($mat-yellow, 800);
  }
}


