@import "../../../assets/style/all";

:host {
  display: block;
}

.outer-wrapper {
  padding: 10px;
  border-radius: 5px;

  &.con {
    background-color: mat-color($mat-red, A200);
  }

  &.pro {
    background-color: mat-color($mat-green, A200);
  }

}

.author-row {
  font-weight: 500;
  .avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }
}

.text-box {
  margin-left: 10px;
  padding: 10px 0;
  @include mq-gt-xs {
    margin-left: 40px;
  }
  border-radius: 5px;


}

md-icon, button[md-button]:not([disabled]) {
  &.red {
    color: mat-color($mat-red, 700);
  }
  &.green {
    color: mat-color($mat-green, 700);
  }
  &.yellow {
    color: mat-color($mat-yellow, 800);
  }
}


