@import "../../assets/style/all";

:host {
  display: block;
  max-width: 900px;
  margin: 20px auto;
  @include mq($until: 860px) {
    margin: 20px;
  }

}

.heading {
  color: mat-color($mat-grey, 600);
  text-align: center;
  text-transform: uppercase;
}

.stage {
  padding: 0 20px;
}
