<div class="outer-wrapper" *ngIf="!!data" fxLayout="column" fxLayoutGap="60px">

  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div class="district-selector" fxLayout="row" fxLayoutAlign="start center" fxFlexAlign="center" fxLayoutGap="10px">
      <label for="distSelector">Report for:</label>
      <md-select id="distSelector" (change)="setActiveDistrict($event.value)" [(ngModel)]="activeDistrict"
                 [placeholder]="activeDistrict.id == null ? 'All Districts' : ''">
        <md-option *ngFor="let district of districtSortOptions" [value]="district">{{district.name}}</md-option>
      </md-select>

    </div>

    <div class="report-row" fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="10px">

      <button md-raised-button color="primary" (click)="getReport()" [disabled]="!!reportRequestResult">
        <md-icon fontSet="fa" fontIcon="fa-file-pdf-o"></md-icon>
        <span style="margin-left: 5px">Generate PDF report</span>
      </button>

      <div *ngIf="reportRequestResult">
        <div *ngIf="reportRequestResult === 'pending'">
          <md-spinner color="primary"></md-spinner>
        </div>
        <div *ngIf="reportRequestResult.success">
          <a target="_blank" [href]="reportRequestResult.url">download link</a>
        </div>
      </div>

    </div>
  </div>

  <div class="squares" fxLayout="row" fxLayoutGap="20px" *ngIf="!!data" fxFlexAlign="center" fxLayoutWrap="wrap">
    <div class="square">
      <div class="value">{{data.numItems}}</div>
      <div class="key">
        agenda items
      </div>
    </div>
    <div class="square">
      <div class="value">{{data.totComments}}</div>
      <div class="key">
        comments
      </div>
    </div>
    <div class="square">
      <div class="value">{{data.totVotes}}</div>
      <div class="key">
        votes
      </div>
    </div>
    <div class="square">
      <div class="value">{{data.totParticipants}}</div>
      <div class="key">
        participants
      </div>
    </div>
  </div>


  <div class="by-district-pie row" *ngIf="!showingSingleDistrict">
    <div class="heading">Participation by district</div>
    <ngx-charts-pie-chart
      [results]="data.participationByDistrict"
      [scheme]="pieColorScheme"
      [labels]="true">
    </ngx-charts-pie-chart>
  </div>

  <!-- we need to set the height explicitly or the chart will draw itself too small  -->
  <div class="by-item row" [style.height.px]="activityByItemHeight">
    <div class="heading">Activity by item</div>
    <ngx-charts-bar-horizontal-stacked
      [results]="data.activityByItem.reverse()"
      [barPadding]="4"
      [customColors]="barColors"
      [scheme]="pieColorScheme"
      [yAxis]="true"
      [xAxis]="true"
    >

    </ngx-charts-bar-horizontal-stacked>
  </div>

  <div class="item-details row" infinite-scroll
       [infiniteScrollDistance]="0.25"
       (scrolled)="scrolled($event)" #itemDetails>
    <div class="heading">PUBLIC INPUT</div>
    <div *ngFor="let item of items | activity:stats.byItem | limit:numItemsShown;"
         class="item"
         fxLayout="column"
         fxLayoutGap="10px">
      <div class="item-text">
        <strong>{{itemNumber(item)}}. </strong> <span>{{item.text}}</span>
      </div>
      <div class="totals" fxLayout="row" fxLayoutGap="10px">
        <div class="entry">{{itemVotes(item)}} votes</div>
        <div class="entry">{{itemComments(item)}} comments</div>
      </div>

      <div class="details">
        <civ-comment [comment]="data.topComments[item.id].pro"
                     *ngIf="!!data.topComments[item.id].pro"
                     [activeContext]="group.id"></civ-comment>
        <civ-comment [comment]="data.topComments[item.id].con"
                     *ngIf="!!data.topComments[item.id].con"
                     [activeContext]="group.id"></civ-comment>

          <civ-district-input-table [data]="districtTableData(item)" *ngIf="!showingSingleDistrict"></civ-district-input-table>
      </div>

    </div>

  </div>

</div>

<div class="inactive-items">
  <div class="explanation">
    No feedback was received on the following items:
  </div>

  <div *ngFor="let item of items | activity:stats.byItem:false" class="inactive-item-row">
    <strong>{{itemNumber(item)}}.</strong><span>{{item.text}}</span>
  </div>
</div>
