$proGreen: rgba(56, 142, 60, 0.5);
$conRed: rgba(211, 47, 47, 0.5);

:host {
  display: block;
  position: relative;
  width: 100%;
}

.item {
  margin-bottom: 5px;
  height: 14px;
  position: relative;
  margin-left: 5px;

  .bar {
    position: absolute;
    top: 0;
    bottom: 0;
    background-color: #999;
    z-index: 0;

    &.pro {
      background-color: $proGreen;
    }

    &.con {
      background-color: $conRed;
    }

  }

  .item-no {
    font-weight: 700;
    font-size: 14px;
    z-index: 1;
    overflow: visible;
    position: relative;
    top: -1px;
  }
}

.label {
  position: absolute;
}


