@import "../../../assets/style/all";

$twitter-blue: #00aced;
$facebook-blue: #3b5998;
$google-orange: #dd4b39;

.fb {
  color: $facebook-blue;
}

.twitter {
  color: $twitter-blue;
}

.google {
  color: $google-orange;
}

.share-btn {
  cursor: pointer;
}

:host {
  @include flex(column, $align: center);

  & > div {
    margin-bottom: 15px;
    padding-top: 15px;
  }
}

hr {
  border: solid 1px #eaeaea;
  width: 100%;
}

.rep-avatar {
  height: 50px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;

  img {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
  }
}

.item-container {
  width: 900px;
  margin: auto;

  @include mq($until: 900px) {
    width: 100vw;
    margin: 10px;
  }

  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
  background-color: #ffffff;

}

.item-content {
  padding: 40px 60px 60px;

  @include mq-xs {
    padding: 40px 20px 60px;
  }
}

.vote-button {
  height: 60px;
  width: 180px;
  font-size: 1.2em;
}

.actions {
  display: flex;

  .follow.row {
    padding: 10px 15px 0 0;
    align-items: center;
    color: grey;

    div md-icon {
      font-size: 1.2em;
      padding-top: 5px;
    }
  }
}

.row.vote {
  justify-content: center;
}

.item-text {
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  line-height: 1.55em;
  padding-top: 10px;
  padding-bottom: 40px;
  font-weight: 300;

  /*cursor: pointer;*/

  & > div {
    margin-bottom: 10px;
  }

  .item-title {
    color: #373737;
    margin-bottom: 40px;
    font-size: 1.4em;
    line-height: 1.4;
    font-weight: 700;
  }

}

.edit-pane {
  width: 100%;
}

.row-label {
  text-align: center;
}

.submit-btn {
  margin: 20px 0;
}

.user-comment-text {
  line-height: 1.5em;
  margin: 15px;
  padding: 15px;
  border-radius: 5px;
  background-color: mat-color($mat-grey, 200);
  color: mat-contrast($mat-grey, 200);
}

.vote-block {
  border-top: 1px solid mat-color($mat-grey, 500);
  padding: 0 20%;
}

.vote-button {
  text-transform: uppercase;
  font-weight: 500;

  &.yes {
    background-color: mat-color($mat-green, 700);
    color: mat-contrast($mat-green, 700);
  }

  &.no {
    background-color: mat-color($mat-red, 700);
    color: mat-contrast($mat-red, 700);
  }

  &.rejected {
    opacity: 0.5;
  }

  md-icon {
    position: relative;
    top: -2px;
  }

}

.closed-session-note {
  padding: 20px;
  text-align: center;
  font-style: italic;
}

.add-comment {
  width: 50%;
  max-width: 700px;
  position: relative;

  md-input-container {
    width: 100%;
  }

}

.share {
  transition: 150ms linear all;

  &:not(.highlighted) {
    padding-top: 0;
    opacity: 0.8;
  }

  .fa {
    color: #999;
  }

  button md-icon {
    transition: 250ms ease-in all;
  }

  &.highlighted {
    button md-icon {
      font-size: 2em;
    }

    .fa-facebook-square {
      color: $facebook-blue;
    }

    .fa-twitter-square {
      color: $twitter-blue;
    }

    .fa-google-plus-square {
      color: $google-orange;
    }
  }

}

.row-label {
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0.5;
  transition: 150ms linear opacity;

  &.focused {
    opacity: 1;
  }

}

.actions {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.back-to-agenda, .comment-heading {
  padding: 20px 0 0;
}

.row.explain {
  width: 100%;
}

.key {
  margin-left: 10px;
  margin-right: 50px;
}

.title {
  color: grey;
}

.actions-table {
  .row {
    margin: 20px 0 50px 0;

    &.explain .key {
      position: relative;
      top: 15px;
    }

  }

  .key {
    margin-right: 50px;
    width: 80px;

    @include mq-gt-xs {
    }

    @include mq-xs {
      max-width: 40%;
    }
  }

  .value {
    width: 65%;
    text-align: right;

    @include mq-gt-xs {
      width: 65%;
      text-align: right;
    }

  }

  @include mq-xs {
  }

}

.comment-container {
  width: 90%;
}
