<div class="item-text">
  <div><strong>{{itemNumber}}. </strong> {{item.text}}</div>
  <div>
    <a target="_blank" [href]="item.sireLink">Attachments</a>
  </div>
</div>

<div class="actions-table" fxLayout="column">
  <div class="row vote" fxLayout="row" fxLayoutAlign="start center" *ngIf="!isClosedSession">
    <div class="key row-label" [class.focused]="!userVote">vote</div>
    <div class="value" fxFlex="1 1 auto" fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
      <div class="vote-count">{{voteStats?.no}}</div>
      <button md-button
              class="vote-button no"
              [class.rejected]="userVoteVal == 1"
              (click)="castVote(-1)"
              [@voteBtn]="userVoteVal == 1 ? 'rejected' : ''">
        <md-icon *ngIf="userVoteVal == -1" class="checkmark" [@checkmark]="'fromLeft'">check</md-icon>
        no
      </button>
      <button md-button
              class="vote-button yes"
              [class.rejected]="userVoteVal == -1"
              (click)="castVote(1)"
              [@voteBtn]="userVoteVal == -1 ? 'rejected' : ''">yes
        <md-icon *ngIf="userVoteVal == 1" class="checkmark" [@checkmark]="'fromRight'">check</md-icon>
      </button>
      <div class="vote-count">{{voteStats?.yes}}</div>
    </div>
  </div>
  <div class="row explain" fxLayout="row" *ngIf="!isClosedSession">
    <div class="key row-label" [class.focused]="!userComment && !!userVote">explain</div>


    <div *ngIf="!userComment" fxLayout="column" class="value">
      <md-input-container>
        <textarea type="text"
                  rows="4"
                  mdInput
                  [placeholder]="addCommentPlaceholder"
                  #addComment
                  [(ngModel)]="newComment"></textarea>
      </md-input-container>
      <button md-raised-button
              *ngIf="!!addComment.value"
              [@speakBtn]
              color="primary"
              fxFlexAlign="flex-end"
              (click)="postComment()"
              [disabled]="!addComment.value">Speak
      </button>

    </div>

    <civ-comment *ngIf="!!userComment"
                 [comment]="userComment"
                 (edit)="editComment($event)"
                 [showAuthor]="false"
                 [textOnly]="true"
                 [canEdit]="true"></civ-comment>

  </div>

  <div *ngIf="isClosedSession" class="closed-session-note">
    This item is closed session and is not open to public feedback.
  </div>

  <div class="row share" fxLayout="row" fxLayoutAlign="start center" [class.highlighted]="!!userVote && !!userComment">
    <div class="key row-label" [class.focused]="!!userVote && !!userComment">share</div>
    <div class="value" fxLayout="row" fxLayoutGap="10px">
      <button md-icon-button>
        <md-icon fontSet="fa" fontIcon="fa-facebook-square"></md-icon>
      </button>
      <button md-icon-button>
        <md-icon fontSet="fa" fontIcon="fa-twitter-square"></md-icon>
      </button>
      <button md-icon-button>
        <md-icon fontSet="fa" fontIcon="fa-google-plus-square"></md-icon>
      </button>
    </div>
  </div>

  <div class="follow row" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
    <div *ngIf="numFollows > 0" class="follower-count">
      <strong>{{numFollows}}</strong> follower{{numFollows == 1 ? '' : 's'}}
    </div>
    <button md-raised-button [color]="isFollowing ? 'primary' : 'accent' " (click)="addOrRemoveFollow()">{{isFollowing ?
      'UNFOLLOW' : 'FOLLOW'}}
    </button>
  </div>

</div>



<div class="back-to-agenda">
  <button md-button (click)="back.emit()">
    <span fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
      <md-icon>chevron_left</md-icon>
      <span>BACK TO AGENDA</span>
    </span>
  </button>
</div>

<div class="comment-heading">{{comments?.length}} comments</div>


<div fxLayout="column" fxLayoutGap="10px" *ngIf="numCommentsShown" class="comment-container">
  <civ-comment *ngFor="let comment of visibleComments()"
               [comment]="comment"
               [userVote]="userVoteFor(comment.id) | async"
               (vote)="commentVote.emit({itemId: comment.id, value: $event})"
  ></civ-comment>
</div>

<div *ngIf="numCommentsShown < comments.length" fxFlexAlign="center">
  <button md-raised-button (click)="showMoreComments()">
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
      <md-icon>expand_more</md-icon>
      <div>SHOW MORE</div>
    </div>
  </button>
</div>
