<div class="main">
	<h2>Careers</h2>
	<p>
		Studies <a href="https://www.ted.com/talks/bill_gross_the_single_biggest_reason_why_startups_succeed">show</a> the single biggest reason why startups succeed or fail is timing. The second reason is team. There can be little doubt that digital democracy's time has come. The need to do government a little differently smacks us in the face everytime we read the news. Ready to help us with the team?
	</p>
	<p>
		We're looking for the following roles ASAP. To apply <a href="mailto:info@civinomics.com">contact us</a> with the position title in the subject line, include a resume and cover letter that explains why you'd be a great fit.
	</p>
	<div class="positions">
		<div class="title">Front End Developer</div>
		<p>You need to know how to create pixel perfect prototypes and code them with Angular JS, Angular Material, Sass, and LESS. Extra points if you have experience with neo4J.</p>
		<a href="mailto:info@civinomics.com" target="_top" md-raised-button color="accent" class="button request-button">apply now</a>
	</div>
</div><!-- main -->

<div class="footer">
  <div fxLayout="row" class="main-footer">
      <div fxFlex="1 1 15%">
        <ul class="no-bullet">
          <li><a href="/about">About</a></li>
          <li><a href="http://blog.civinomics.com">Blog</a></li>
          <li><a href="mailto:info@civinomics.com" target="_top">Contact</a></li>
        </ul>
      </div>
      <div fxFlex="1 1 15%">
        <ul class="no-bullet">
          <li><a href="/careers">Careers</a></li>
          <li><a href="https://angel.co/civinomics">Invest</a></li>
        </ul>
      </div>
      <div fxFlex="1 1 15%">
        <br>
        <a href="https://www.facebook.com/civinomics/"><md-icon fonticon="fa-facebook-square" fontset="fa" role="img" class="fa fa-facebook-square"></md-icon></a>
        <a href="https://twitter.com/Civinomics"><md-icon fonticon="fa-twitter-square" fontset="fa" role="img" class="fa fa-twitter-square"></md-icon></a>
        <a href="https://www.youtube.com/channel/UCM0CoW1-98n4RT5xd7ZDlsA"><md-icon fonticon="fa-youtube-square" fontset="fa" role="img" class="fa fa-youtube-square"></md-icon></a>
      </div>
  </div>
  <div class="copyright">
    <div>Civinomics © 2017</div>
  </div>
</div>
