<main>
	<div class="row center hero">
		<em class="lead">
			Civinomics mission is to refresh democracy for a digital world. 
		</em>
	</div>
	<div class="row">
		<p>Civinomics was founded in 2011 with the vision that governance of by and for the people could be better than ever in today’s interconnected world. Our non-partisan belief is that the challenges of the modern era are solvable if people come together to share information and develop solutions.</p>
		<p>We’ve gone through many iterations of our application and will surely go through many more as we march towards that glorious future. We’ve worked with numerous governments throughout California running online forums, statistically representative outreach surveys, and in person events. We embrace new opportunities and collaborations. Contact us today.</p>
	</div>
	<hr>
	<div class="row center">
		<span class="lead">
			civi - <em>nomics</em>
		</span>
		<p>civil: of the commonwealth or state</p>
		<p>nomics: derived from the Greek nomos, meaning law, order, arrangement, systematized knowledge of [something]. The fields ending with -nomics thus mean "systematized knowledge" of whatever the prefix is</p>
		<p>civinomics: the systematized knowledge of the commonwealth</p>
	</div>
	<hr>
	<div class="row center">
		<span class="lead">
			Team
		</span>
		<div class="md-padding" layout="row" flex>
			<div layout="row" flex>

					<md-card class="team-card" fxFlex="33">
					  <md-card-header class="team-header">
					    <md-card-title>Manu Koenig</md-card-title>
					    <md-card-subtitle>CoFounder & CEO</md-card-subtitle>
					  </md-card-header>
					  <img class="team-pic" src="/assets/img/team/manu.jpg">
					  <md-card-actions>
					  	<a href="https://www.linkedin.com/in/manukoenig/" target="_blank" md-button><md-icon fonticon="fa-linkedin-square" fontset="fa" role="img" class="fa fa-linkedin-square"></md-icon></a>
					    <a href="https://twitter.com/manukoenig" target="_blank" md-button><md-icon fonticon="fa-twitter-square" fontset="fa" role="img" class="fa fa-twitter-square"></md-icon></a>
					    <a href="https://github.com/rskoenig" target="_blank" md-button><md-icon fonticon="fa-github" fontset="fa" role="img" class="fa fa-github"></md-icon></a>
					  </md-card-actions>
					</md-card>

					<md-card class="team-card" fxFlex="33">
					  <md-card-header class="team-header">
					    <md-card-title>Robert Singleton</md-card-title>
					    <md-card-subtitle>CoFounder & CMO</md-card-subtitle>
					  </md-card-header>
					  <img class="team-pic" src="/assets/img/team/robert.jpg">
					  <md-card-actions>
					  	<a href="https://www.linkedin.com/in/singletonrobert/" target="_blank" md-button><md-icon fonticon="fa-linkedin-square" fontset="fa" role="img" class="fa fa-linkedin-square"></md-icon></a>
					  	<a href="https://twitter.com/RSingletonSC" target="_blank" md-button><md-icon fonticon="fa-twitter-square" fontset="fa" role="img" class="fa fa-twitter-square"></md-icon></a>
					  </md-card-actions>
					</md-card>

					<md-card class="team-card" fxFlex="33">
					  <md-card-header class="team-header">
					    <md-card-title>Drew Moore</md-card-title>
					    <md-card-subtitle>Dev Lead</md-card-subtitle>
					  </md-card-header>
					  <img class="team-pic" src="/assets/img/team/drew.jpg">
					  <md-card-actions>
					    <a href="https://github.com/drew-moore" target="_blank" md-button><md-icon fonticon="fa-github" fontset="fa" role="img" class="fa fa-github"></md-icon></a>
					    <a href="https://github.com/drew-moore" target="_blank" md-button><md-icon fonticon="fa-stack-overflow" fontset="fa" role="img" class="fa fa-stack-overflow"></md-icon></a>
					  </md-card-actions>
					</md-card>

			

				<md-card class="team-card">
				  <md-card-header class="team-header">
				    <md-card-title>Chris Neklason</md-card-title>
				    <md-card-subtitle>CTO</md-card-subtitle>
				  </md-card-header>
				  <img class="team-pic" src="/assets/img/team/chris.jpg">
				  <md-card-actions>
				  	<a href="https://www.linkedin.com/in/chris-neklason-93b8a87/" target="_blank" md-button><md-icon fonticon="fa-linkedin-square" fontset="fa" role="img" class="fa fa-linkedin-square"></md-icon></a>
				  	<a href="https://twitter.com/cneklason" target="_blank" md-button><md-icon fonticon="fa-twitter-square" fontset="fa" role="img" class="fa fa-twitter-square"></md-icon></a>
				  </md-card-actions>
				</md-card>

				<md-card class="team-card">
				  <md-card-header class="team-header">
				    <md-card-title>Russell Sterten</md-card-title>
				    <md-card-subtitle>Operations Manager</md-card-subtitle>
				  </md-card-header>
				  <img class="team-pic" src="/assets/img/team/russell.jpg">
				  <md-card-actions>
				    <a href="https://www.linkedin.com/in/russellsterten/" target="_blank" md-button><md-icon fonticon="fa-linkedin-square" fontset="fa" role="img" class="fa fa-linkedin-square"></md-icon></a>
				  </md-card-actions>
				</md-card>

				<md-card class="team-card">
				  <md-card-header class="team-header">
				    <md-card-title>Kelsey Grimsley</md-card-title>
				    <md-card-subtitle>Public Outreach Manager</md-card-subtitle>
				  </md-card-header>
				  <img class="team-pic" src="/assets/img/team/kelsey.jpg">
				  <md-card-actions>
				    <a href="https://www.linkedin.com/in/kelseygrimsley/" target="_blank" md-button><md-icon fonticon="fa-linkedin-square" fontset="fa" role="img" class="fa fa-linkedin-square"></md-icon></a>
				  </md-card-actions>
				</md-card>

				<md-card class="team-card">
				  <md-card-header class="team-header">
				    <md-card-title>Fred Keeley</md-card-title>
				    <md-card-subtitle>Advisor</md-card-subtitle>
				  </md-card-header>
				  <img class="team-pic" src="/assets/img/team/fred_keeley.jpg">
				  <md-card-actions>
				    <a href="https://www.linkedin.com/in/fred-keeley-8b12004/" target="_blank" md-button><md-icon fonticon="fa-linkedin-square" fontset="fa" role="img" class="fa fa-linkedin-square"></md-icon></a>
				    <a href="https://en.wikipedia.org/wiki/Fred_Keeley" target="_blank" md-button><md-icon fonticon="fa-wikipedia-w" fontset="fa" role="img" class="fa fa-wikipedia-w"></md-icon></a>
				  </md-card-actions>
				</md-card>

				<md-card class="team-card">
				  <md-card-header class="team-header">
				    <md-card-title>Lloyd Tab</md-card-title>
				    <md-card-subtitle>Advisor</md-card-subtitle>
				  </md-card-header>
				  <img class="team-pic" src="/assets/img/team/lloyd.png">
				  <md-card-actions>
				    <a href="https://www.linkedin.com/in/lloydtabb/" target="_blank" md-button><md-icon fonticon="fa-linkedin-square" fontset="fa" role="img" class="fa fa-linkedin-square"></md-icon></a>
				  </md-card-actions>
				</md-card>

				<md-card class="team-card">
				  <md-card-header class="team-header">
				    <md-card-title>Edolfo Garza-Licudine</md-card-title>
				    <md-card-subtitle>Advisor</md-card-subtitle>
				  </md-card-header>
				  <img class="team-pic" src="/assets/img/team/edolfo.jpg">
				  <md-card-actions>
				    <a href="https://www.linkedin.com/in/edolfo/" target="_blank" md-button><md-icon fonticon="fa-linkedin-square" fontset="fa" role="img" class="fa fa-linkedin-square"></md-icon></a>
				    <a href="https://github.com/edolfo" target="_blank" md-button><md-icon fonticon="fa-github" fontset="fa" role="img" class="fa fa-github"></md-icon></a>
				  </md-card-actions>
				</md-card>

			
			</div>

		</div>
	</div>
</main>
