@import "../../../assets/style/all";
@import "../../shared/admin-pages";
:host {
  display: block;
  max-width: 900px;
  margin: auto;
  padding: 20px 0;
  @include mq($until: 860px) {
    padding: 20px;
  }

  & > * {
    margin-bottom: 30px;
  }

}

.title.input {
  font-size: 1.5em;
}



.districts {
  padding: 0 20px;
}

.icon-preview img {
  height: 75px;
  border-radius: 2px;
  border: 1px solid mat-color($mat-grey, 600);
}

.district-info {
  padding: 0 20px;

  .district-box {
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    padding: 10px;
  }
}

.centered {
  text-align: center;
}

.admin-result {
  &.true {
    color: mat-color($mat-green, 700);
  }

  &.pristine {
    color: mat-color($mat-grey, 400);
  }

  &.false {
    color: mat-color($mat-red, 700);
  }
}

.rep-box {
  padding: 20px 10px;
  border-radius: 2px;
  border: 1px solid mat-color($mat-grey, 500);
}

.remove-btn {
  color: mat-color($mat-grey, 500);
  transition: 250ms linear color;
  &:hover {
    color: mat-color($mat-red, 600);
  }

}


.save-btn {
  position: fixed;
  bottom: 10vh;
  left: calc(50% - 15px);
}
