@import "../shared/pages";
@import "../../assets/style/all";

.flag {
  height: 120px;
  border-radius: 2px;
  border: 1px solid mat-color($mat-grey, 700);
  display: block;
  align-self: center;

  @include mq($until: 600px) {
    width: 200px;
  }

}

.place-title {
  font-size: 2em;
}
