@import "../../assets/style/theme";

:host {
  display: block;

  & > div {
    margin: 40px auto;
  }

}

.heading,h1,h2,h3,h4,h5,h6{
  text-align: center;
}

.fancy-list li{
  margin-bottom:20px;
}


.find-your-city {
  text-align: center;

  md-input-container {
    display: block;
    max-width: 400px;
    margin: auto;
  }

}

.flags {
  align-self: center;
  border-radius: 2px;
  max-width: 900px;
  margin: auto;

  .flag {

    img {
      border: 1px solid mat-color($mat-grey, 700);
      width: 180px;
    }
  }

}

md-grid-tile a{
  margin:10px;
}

md-grid-tile a img, .thumbnail{
  width:100%;
}

.no-bullet, ul.no-bullet li{
  list-style-type: none;
}

main{
  overflow-y:auto;
}

footer, footer md-grid-list, .inverse, .footer{
  background-color:#263238;
  color:#ffffff;
}

div.footer{
  margin-bottom: 0;

  .main-footer{
    display: flex;
    flex-direction: row;
    /*justify-content: center | space-around;*/
    align-items:center;
    justify-content: space-around;
  }

  a{
    color:#fff;
    text-decoration: none;
  }

  md-icon{
    font-size: 2em;
    margin: 0 10px;
  }

}

.lg{
  font-size:24px;
}

