<div class="outer-wrapper {{comment.role}}" fxLayout="column">
  <div *ngIf="showAuthor" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="author-row">
    <img class="avatar" [src]="comment.author.icon">
    <div class="name">{{comment.author.firstName}} {{comment.author.lastName}}<span *ngIf="!!authorDistrict">, {{authorDistrict.name}}</span>
    </div>
    <div class="date">{{comment.posted | amTimeAgo}}</div>
  </div>
  <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="space-between center">
    <div *ngIf="!isEditing" class="text-box" fxLayout="column">
      <div>{{comment.text}}</div>
    </div>
    <md-input-container *ngIf="isEditing" fxFlex="1 1">
      <textarea mdInput rows="3" #editInput [(ngModel)]="newText"></textarea>
    </md-input-container>

    <button md-icon-button *ngIf="canEdit && !isEditing" (click)="toggleEditing()" [@editBtn]>
      <md-icon>edit</md-icon>
    </button>
  </div>
  <div *ngIf="!isEditing && (showVotes || showVoteBtn || showReplies || showReplyBtn)"
       fxLayoutAlign="space-between center"
       class="bottom-row">

    <div *ngIf="showReplyBtn" fxLayout="row" fxLayoutAlign="start center">
      <button md-icon-button>
        <md-icon>reply</md-icon>
      </button>

    </div>

    <div *ngIf="showVoteBtn" fxLayout="row" fxLayoutAlign="start center">
      <button md-icon-button
              (click)="vote(1)"
              class="vote-tick up"
              [class.chosen]="!!userVote && userVote.value == 1"
              [class.rejected]="!!userVote && userVote.value == -1">
        <md-icon>expand_less</md-icon>
      </button>
      <div class="vote-count">{{comment.votes.up - comment.votes.down}}</div>
      <button md-icon-button
              (click)="vote(-1)"
              class="vote-tick down"
              [class.chosen]="!!userVote && userVote.value == -1"
              [class.rejected]="!!userVote && userVote.value == 1">
        <md-icon>expand_more</md-icon>
      </button>
    </div>

  </div>

  <div *ngIf="isEditing" fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="15px" [@editBtnRow]>
    <button md-icon-button *ngIf="isEditing" (click)="toggleEditing()">
      <md-icon class="yellow">replay</md-icon>
    </button>
    <button md-button class="red">
      <div fxLayout="row" fxLayouGap="5px" (click)="delete()" fxLayoutAlign="start center">
        <md-icon>close</md-icon>
        <div class="button-text">Delete comment</div>
      </div>
    </button>
    <button md-button class="green" [disabled]="newText == originalText" (click)="saveEdit()">
      <div fxLayout="row" fxLayouGap="5px" fxLayoutAlign="start center">
        <md-icon>check</md-icon>
        <div class="button-text">Save changes</div>
      </div>
    </button>
  </div>
</div>
