@import "../../../../assets/style/all";

:host {
  display: block;
  padding: 15px;
}

.outer-wrapper {
  padding-top: 10px;
}

.squares {
  .square {
    background-color: mat-color($mat-grey, 300);
    border: 1px solid mat-color($mat-grey, 700);
    color: mat-contrast($mat-grey, 300);
    padding: 10px;
    text-align: center;
    .value {
      font-size: 1.75em;
      margin-bottom: 5px;
    }

    .key {
      text-transform: uppercase;
      font-weight: 200;
    }

  }
}

.row {
  .heading {
    text-align: center;
    text-transform: uppercase;
  }
}

.by-district-pie {
  height: 50vh;
}

.by-item {
  height: auto;
}

.item-details {
  padding: 0 10px;

  @include mq-gt-sm {
    padding: 0 30px;
  }


  .item {
    margin: 20px 0;

    & > div {
      margin: 10px 0;
    }

    .totals {
      .entry {
        text-transform: uppercase;
        margin: 0 10px;
      }
    }

    .details {
      padding: 0 15px;
    }

  }

}
