<div class="section meetings">
  <div class="heading">MEETINGS</div>
  <div fxLayout="column" fxLayoutGap="10px" class="body" *ngIf="meetings.length > 0">
    <div *ngFor="let meeting of meetings"
         fxLayout="row"
         fxLayoutAlign="space-between center"
         class="meeting-row"
         fxLayoutGap="20px"
         (click)="gotoMeeting.emit(meeting.id)"
         fxLayoutWrap="wrap">
      <div class="title">{{meeting.title}}: {{meeting.startTime | amDateFormat: 'M/D/YY'}}</div>
      <div class="published {{meeting.published ? 'yes' : 'no'}}">
        {{meeting.published ? 'PUBLISHED' : 'DRAFT'}}
      </div>
      <div class="status {{isAfterNow(meeting.feedbackDeadline) ? 'open' : 'closed'}}">
        {{isAfterNow(meeting.feedbackDeadline) ? 'OPEN' : 'CLOSED'}}
      </div>
      <div class="title">
        <button md-raised-button color="primary" (click)="gotoMeeting.emit(meeting.id)">
          EDIT
        </button>
      </div>
    </div>
  </div>
  <div class="empty-note" *ngIf="meetings.length == 0">
    NONE
  </div>
  <div class="add-meeting-row">
    <button md-raised-button color="primary" (click)="newMeeting.emit()">CREATE NEW MEETING</button>
  </div>
</div>

<civ-group-edit-view [extantGroup]="group">

</civ-group-edit-view>
