@import "../../assets/style/all";

:host {
  display: block;
  max-width: 900px;
}

.section {
  margin: 35px 10px;

  .heading {
    text-transform: uppercase;
    font-size: 1.25em;
    margin-bottom: 10px;
    padding-right: 10%;
    border-bottom: 1px solid mat-color($mat-grey, 400);
    display: inline-block;

  }
  .body {
    margin: 5px 10px;
    @include mq-gt-sm {
      margin: 5px 20px;
    }
    .key {
      text-transform: uppercase;
    }

    .row {
      margin-bottom: 10px;
    }

  }
}
