@import "../../../assets/style/theme";

:host {
  display: block;
  position: relative;;
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.section {
  margin-bottom: 30px;

  .section-title {
    font-size: 1.25em;
    font-weight: 500;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .meeting-row {
    margin-bottom: 15px;
  }

  &.drafts {
    background-color: mat-color($mat-orange, A100);
    padding: 10px;

    .meeting-row {
      background-color: rgba(255, 255, 255, 0.8);
    }

  }

  .empty-section {
    padding: 20px;
    text-align: center;
    font-style: italic;
  }

}

.follow-row, .follow-row button {
  text-transform: uppercase;
}

.main-tabs {

}

.meeting-row {
  padding: 10px;
  border: 1px solid mat-color($mat-grey, 700);
  cursor: pointer;

  .status {
    font-style: italic;
    text-transform: uppercase;
  }
}
