<div class="meeting-title">{{meeting?.title}}: {{meeting?.startTime | amDateFormat: 'MM/DD/YY'}}</div>

<div class="agenda">
  <div class="section-title">Agenda</div>
  <div class="sort-by" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px">
    <label for="sortSelect">Sort by:</label>
    <md-select [(ngModel)]="sortBy" id="sortSelect">
      <md-option *ngFor="let opt of agendaSortOptions" [value]="opt">{{opt}}</md-option>
    </md-select>
  </div>

  <div *ngFor="let item of agendaItems" class="item-row" fxLayout="row">
    <div class="item-no" fxFlex="0 0 100px" fxFlex.xs="0 0 40px">
      {{item.onAgendas[meeting.id].itemNumber}}
    </div>
    <div fxFlex="1 1 auto">
      <div class="item-text" (click)="showItem.emit(item.id)">{{item.text}}</div>
      <div class="action-items" fxLayout="row" fxLayoutGap="10px">
        <button md-button>{{item.activity.comments.total}} comments</button>
        <button md-button>{{item.activity.votes.total}} votes</button>
      </div>
    </div>

  </div>


</div>




