<div class="hero">
  <h1>City Government in Your Hands</h1>
  <div>
    <a href="mailto:info@civinomics.com" target="_top" md-raised-button color="accent" class="button request-button">request
      set up</a>
  </div>

  <!--
  <div class="find-your-city">
    <md-input-container class="center">
      <input mdInput
             class="center"
             type="text"
             [placeholder]="'Find Your City'"
             [mdAutocomplete]="auto"
             id="find-city-input"
             color="warn"
             #findCity>
    </md-input-container>

    <md-autocomplete #auto="mdAutocomplete">
      <md-option *ngFor="let city of cities" [value]="city.name[0]">{{city.name[0]}}</md-option>
    </md-autocomplete>
  </div>
  -->
</div>
<main>
  <div class="cities">
    <div class="flags" fxLayout="row" fxLayoutWrap="wrap" fxLayoutGap="10px" fxLayoutAlign="space-around stretch">
      <div *ngFor="let city of cities" class="flag" [routerLink]="['place', city.id]">
        <img [src]="city.icon">
      </div>
    </div>
  </div>

  <hr>

  <div class="features">
    <h2>Features</h2>

    <div class="feature-row">
      <div class="feature">
        <div>
          <md-icon fonticon="fa-comments" fontset="fa" role="img" class="fa fa-comments"></md-icon>
        </div>
        <div class="title">Comment, Vote, and Share City Council Meetings</div>
        <div>
          <span class="feature-description">Your City's meetings open and interactive for all city residents.</span>
        </div>
      </div>

      <div class="feature">
        <div>
          <md-icon fonticon="fa-refresh" fontset="fa" role="img" class="fa fa-refresh"></md-icon>
        </div>
        <div class="title">Automated Reporting and Meeting Upload</div>
        <div>
          <span class="feature-description">Works on its own! No additional staff required.</span>
        </div>
      </div>

      <div class="feature">
        <div>
          <md-icon fonticon="fa-file-pdf-o" fontset="fa" role="img" class="fa fa-file-pdf-o"></md-icon>
        </div>
        <div class="title">Export PDFs</div>
        <div>
          <span class="feature-description">Easily export data to share or append to the public record.</span>
        </div>
      </div>

      <div class="feature">
        <div>
          <md-icon fonticon="fa-mobile" fontset="fa" role="img" class="fa fa-mobile"></md-icon>
        </div>
        <div class="title">Mobile Friendly</div>
        <div>
          <span class="feature-description">Provide input and review outcomes no matter where you are.</span>
        </div>
      </div>

      <div class="feature">
        <div>
          <md-icon fonticon="fa-arrows-h" fontset="fa" role="img" class="fa fa-arrows-h"></md-icon>
        </div>
        <div class="title">Cross-Platform Compatiblity</div>
        <div>
          <span class="feature-description">Integrate existing civic software like Sire and Socrata for an a la carte solution.</span>
        </div>
      </div>

      <div class="feature">
        <div>
          <md-icon fonticon="fa-envelope-o" fontset="fa" role="img" class="fa fa-envelope-o"></md-icon>
        </div>
        <div class="title">Notifications</div>
        <div>
          <span class="feature-description">Stay up to date on the topics that interest you the most like public safety and transportation.</span>
        </div>
      </div>

      <!--
      <div class="feature">
        <div>
          <md-icon fonticon="fa-vcard-o" fontset="fa" role="img" class="fa fa-vcard-o"></md-icon>
        </div>
        <div class="title">Citizen Verification</div>
        <div>
          <span class="feature-description">Be certain that the people you're interacting with live in your city.</span>
        </div>
      </div>

      <div class="feature">
        <div>
          <md-icon fonticon="fa-map" fontset="fa" role="img" class="fa fa-map"></md-icon>
        </div>
        <div class="title">District Mapping</div>
        <div>
          <span class="feature-description">Supports different voting districts for medium and large size cities.</span>
        </div>
      </div>

    -->

    </div>
  </div>

  <hr>

  <div class="why">
    <h2>Why It Matters</h2>
    <div>
      <md-grid-list cols="2">
        <md-grid-tile>
          <iframe width="560"
                  height="315"
                  src="https://www.youtube.com/embed/BE8oiC1VHws"
                  frameborder="0"
                  allowfullscreen></iframe>
        </md-grid-tile>
        <md-grid-tile>
          <div>
            <ul class="fancy-list">
              <li>Local government is our streets, our cops, our fire, our garbage, our parking, our zoning, our water,
                and our schools.
              </li>
              <li>Democracy is a technology - we may not be able to reboot the federal government overnight, but we can
                update our city surprisingly quickly.
              </li>
              <li>Our government must update the technology to adapt to the changing realities of public life: cell
                phones, commuting, education.
              </li>
            </ul>
          </div>
        </md-grid-tile>
      </md-grid-list>
    </div>
  </div>

  <hr>

  <div class="people-are-saying">
    <h2>What People Are Saying</h2>
    <md-grid-list cols="5">
      <md-grid-tile>
        <a href="http://www.gtweekly.com/index.php/santa-cruz-news/good-times-cover-stories/5265-civinomics-rising.html"
           target="_blank"><img src="/assets/img/splash/good_times.jpg"></a></md-grid-tile>
      <md-grid-tile>
        <a href="http://www.xconomy.com/san-francisco/2013/07/30/santa-cruz-the-city-over-the-hill-builds-its-own-startup-culture/"
           target="_blank"><img src="/assets/img/splash/xconomy.jpg"></a></md-grid-tile>
      <md-grid-tile>
        <a href="http://www.bizjournals.com/sanjose/chreynolds-data-centers/2014/05/public-policy-startup-civnomics-wants-to-hack-u-s.html"
           target="_blank"><img src="/assets/img/splash/svbj.jpg"></a></md-grid-tile>
      <md-grid-tile>
        <a href="http://www.santacruzsentinel.com/santacruz/ci_24544092/santa-cruz-hackathon-brings-new-ideas-political-table"
           target="_blank"><img src="/assets/img/splash/sc_sentinel.jpg"></a></md-grid-tile>
      <md-grid-tile><a href="http://www.register-pajaronian.com/v2_news_articles.php?heading=0&page=72&story_id=15248"
                       target="_blank"><img src="/assets/img/splash/register_pajaronian.jpg"></a></md-grid-tile>
    </md-grid-list>
  </div>

  <hr>

  <div class="from-the-blog">
    <h2>From the Blog</h2>
    <div fxLayout="row">
      <div class="blog-text" fxLayout="column">
        <div class="title">Civinomics Rebooted</div>
        <div>
          <p>Today we’re excited to announce a completely overhauled Civinomics. We’re relaunching with the City of
            Austin, TX as our first trial user. We’ve been working with the Chief Communications Director for Austin to
            understand the challenges a city of one million people faces in making government accessible and
            transparent. In true lean startup fashion, we’ve also gone through our past iterations and reviewed what
            we’ve learned. The result is a new and improved Civinomics that is ready to make the official business of
            your city user friendly.</p>
          <p class="center"><a href="https://civinomics.wordpress.com/?p=5815&preview=true">read more</a></p>
        </div>
      </div>
      <div class="blog-image">
        <img class="thumbnail" src="https://civinomics.files.wordpress.com/2017/03/325854124_229d23d71d_b.jpg">
      </div>
    </div>
  </div>

  <hr>

  <div class="set-it-up">
    <div class="center">
      <h2>What Are You Waiting For?</h2>
      <md-card fxFlex="1 1 33%" style="margin:auto;">
        <a href="mailto:info@civinomics.com" target="_top" md-raised-button color="accent" class="button request-button">request
          set up</a>
      </md-card>
    </div>
  </div>

</main>


<div class="footer">
  <div fxLayout="row" class="main-footer">
    <div fxFlex="1 1 15%">
      <ul class="no-bullet">
        <li><a href="/about">About</a></li>
        <li><a href="http://blog.civinomics.com">Blog</a></li>
        <li><a href="mailto:info@civinomics.com" target="_top">Contact Us</a></li>
      </ul>
    </div>
    <div fxFlex="1 1 15%">
      <ul class="no-bullet">
        <li><a href="/careers">Careers</a></li>
        <li><a href="https://angel.co/civinomics">Invest</a></li>
      </ul>
    </div>
    <div fxFlex="1 1 15%">
      <br>
      <a href="https://www.facebook.com/civinomics/">
        <md-icon fonticon="fa-facebook-square" fontset="fa" role="img" class="fa fa-facebook-square"></md-icon>
      </a>
      <a href="https://twitter.com/Civinomics">
        <md-icon fonticon="fa-twitter-square" fontset="fa" role="img" class="fa fa-twitter-square"></md-icon>
      </a>
      <a href="https://www.youtube.com/channel/UCM0CoW1-98n4RT5xd7ZDlsA">
        <md-icon fonticon="fa-youtube-square" fontset="fa" role="img" class="fa fa-youtube-square"></md-icon>
      </a>
    </div>
  </div>
  <div class="copyright">
    <div>Civinomics © 2017</div>
  </div>
</div>
