/* typefaces */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Work+Sans:300,400,500,600,700,800|Quicksand:300,400,700|Source+Code+Pro:300,400');
/* icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');
/* app style assets */

@import "assets/style/theme";


html, body {
  margin: 0;
  height: auto;
  min-height: 100%;
  position: relative;

  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;

}

h1,h2,h3,h4,h5,h6,.lead{
	font-family: 'Roboto', sans-serif;
}

.lead{
  font-weight:300;
  font-size:1.5em;
}

.center{
  text-align: center;
}

.hero{
	margin-top:5%;
	margin-bottom:5%;
}

main{
	max-width:1000px;
	margin:auto;
}

.copyright{
	display: flex;
	justify-content: flex-end;
	font-size: .75em;

	div{
		margin:20px 40px;
	}
}

@include angular-material-theme($civ-theme);
